<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
</head>
<body>
    <form action="/semi/users/make" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" placeholder="first_name"><br>
        last name: <input type="text" name="last_name" placeholder="last_name"><br>
        email: <input type="text" name="email" placeholder="email"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>