<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi Restful</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>created at</th>
            <th>actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><a href="/semi/users/edit/{{user.id}}">edit</a>| <a href="/semi/users/show/{{user.id}}">Show</a>| <a href="/semi/users/delete/{{user.id}}">delete</a></td>
            
        </tr>
    {% endfor %}
    </table>

    <a href="/semi/users/new">Add User</a>
</body>
</html>