<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body>
    <p><a href="/breview/home">home</a></p>
    <a href="/breview/logout">Log Out</a>

    
    <form action='/breview/add' method='POST'>
        {% csrf_token %}
        Book Title:<input type="text" name="title"><br>
        Author:<input type="text" name="author"><br>
        Review: <textarea name="review" placeholder="review"></textarea><br>
    
        <select name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <input type="submit" value="Add"><br>
    </form><br><br>   
</body>
</html>
    