<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard/logout">Log Out</a>
    <div>
        <h3>All Users</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created_At</th>
                <th>User_Level</th>
                <th>Actions</th>
            </tr>
            {% for u in users %}
            <tr>
                <td><a href="user/{{u.id}}">{{u.first_name}} {{u.last_name}}</td></a>
                <td>{{u.email}}</td>
                <td>{{u.created_at}}</td>
                <td><a href = "remove/{{u.id}}">remove</a> | <a href = "admin_edit/{{u.id}}">edit</a></td>
            </tr>
            {% endfor %}
            {% for a in admins %}
            <tr>
                <td>{{a.first_name}} {{a.last_name}}</td>
                <td>{{a.email}}</td>
                <td>{{a.created_at}}</td>
                <td><a href = "remove/{{a.id}}">remove</a> | <a href = "edit/{{a.id}}">edit</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>