<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <h1>Add a new course</h1>
    <div>
        <form action="/course/add" method="post">
            {% csrf_token %}
            Name: <input type="text" name="name" placeholder="name"><br>
            Description: <textarea name="description" placeholder="description"></textarea>
            <input type="submit" value="Add">
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}</td>
                <td><a href = "remove/{{course.id}}">remove</a></td>
            </tr>
            {% endfor %}
        </table>   
    </div>
    
</body>
</html>