<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Thanks for submitting this form! You have submitted this form {{number}} times now.</h3>
    <h2>Submitted information</h2>
    <p>Name : {{name}}</p>
    <p>Location : {{location}}</p>
    <p>Favorite Language : {{language}}</p>
    <p>Comments : {{comments}}</p>
<form action="/surveys" >
    <input type="submit" value="go back">
</form>
</body>
</html>